@tailwind base;
@tailwind components;
@tailwind utilities;
*

/* ClientQA.module.css */
.scrollableContainer::-webkit-scrollbar {
  width: 12px;
}

.scrollableContainer::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 6px; /* Change the background color of the scrollbar track */
}

.scrollableContainer::-webkit-scrollbar-thumb {
  background-color: hsl(
    15,
    4%,
    60%
  ); /* Change the color of the scrollbar thumb */
  border-radius: 6px;
  cursor: pointer;
}
